body{
  padding-top: 0px;
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
  background-color: #ecfeec;
  background-position: bottom;
  
}
#importantFontStuff{
  font-size: 60px;
}


.titles{
  color: green;
}

div{
  display: inline-block;
  color:black;
  text-align: center-left;
  padding: 14px 16px;
  text-decoration: none;
}

header{
  height: 200px;
  background-image: url("unnamed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: no-repeat;
  margin: 0px;
  min-height:85vh;
  
}


#ooof{
  color: #0000ff;
  text-align: center;
  font-family: sans-serif;
 font-size: 35px;
}


ul {
  list-style-type: none;
  margin: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #009900;
}

#airfoil{
  color: #2e93ff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#thisBetterWork{
  font-family: serif;
}

.thisIsAClass{
  background-color: green;
}
#thisNeedsColor{
  color: white;
}

#test{
  background-color:blue;
}
